<div class="search-bar">
  <input type="text" placeholder="Search for movies Here!" id="search-input">
  <button onclick="searchMovies()">Search</button>
  <div id="search-results"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  function searchMovies() {
      let query = $('#search-input').val();

      $.ajax({
          url: 'RabbitMQ/apiConsumer.php',
          method: 'POST',
          data: {
              type: 'searchMoviesAndTVShows',
              query: query
          },
          dataType: 'json',
          success: function(response) {
              console.log(response); // Example: Logging the response to the console
              displaySearchResults(response);
          },
          error: function(jqXHR, textStatus, errorThrown) {
              console.error(errorThrown);
              // Handle errors here
          }
      });
  }

  function displaySearchResults(results) {
      let searchResults = $('#search-results');
      searchResults.empty(); // Clear previous search results
      
      results.forEach(function(result) {
          let link = $('<a></a>').attr('href', `movie_page.php?title=${encodeURIComponent(result.Title)}`).text(result.Title);
          searchResults.append(link);
          searchResults.append('<br>');
      });
  }
</script>


